p Dear #{firstname},

p Thank you for signing up with gorilla.lk, the premier online recruitment solutions provider.

p To verify your email address Click on this  #[a(href=`${approoturl}api/verifycandidateemail?v=${emailverifysecret}`) account activation link] 

p Your Login ID is #{email}

p 
 b Best regards,
b Team gorlla.lk