p Dear #{name},

p Thank you for signing up with gorilla.lk, the premier online recruitment solutions provider.

p To verify your email address Click on #[a( href='http://google.com' ) http://google.com].

p Your Login ID is #{email}

p 
b Best regards,
p 
b Team gorlla.lk
