p Dear #{firstname},

p Thank you for signing up with www.gorilla.lk , as an employer.

p we are currently verifying your new account.

p you will be notified through an email once the verificaton process is completed, within next business day.

b Best regards,
br
b Team www.gorlla.lk
