
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

body {
    background : rgba(246, 248, 250, 1);
}

#middleContent {
  padding-left: 40px;
  padding-top: 25px;
}

/*
.ant-page-header {
  background-color: rgba(36, 41, 46, 1);
  font: #fff;
}

#testID {
 background-color: rgba(36, 41, 46, 1);
  font: #fff;
}
*/
